#todoList {
  border: 1px dotted #4e4e4e;
  margin: 20px 12px 4px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#todoHeader {
  justify-self: flex-start;
}
